<?xml version="1.0" encoding="UTF-8"?>
<!--
Copyright 2019, Google Inc. All Rights Reserved.

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License
-->
<!--
The Google Ads API Java Client Library uses the slf4j logging facade, allowing
you to plug in a logging framework of your choice. This configuration file
sets up the logging infrastructure using log4j 2.x logging. If you wish to take advantage
of this file and use log4j 2.x as your framework, you must add a dependency on
org.apache.logging.log4j:log4j-slf4j-impl. Please see http://www.slf4j.org for more
information about slf4j.
-->

<Configuration>
  <Appenders>
    <Console name="CONSOLE" target="SYSTEM_ERR">
      <PatternLayout pattern="%d %-5p [%t] %C{2} (%F:%L) - %m%n"/>
    </Console>
  </Appenders>
  <Loggers>
    <Logger name="com.google.ads.googleads.lib.request.summary" level="info"/>
    <Logger name="com.google.ads.googleads.lib.request.detail" level="info"/>
    <Logger name="com.google.api.ads.adwords.lib.client.AdWordsServiceClient.soapXmlLogger" level="info"/>
    <Logger name="com.google.api.ads.adwords.lib.client.AdWordsServiceClient.requestInfoLogger" level="info"/>
    <Logger name="com.google.api.ads.adwords.lib.utils.report_download" level="info"/>
    <Logger name="com.google.api.ads.adwords.lib.utils.batch_job" level="info"/>
    <Root level="off">
      <AppenderRef ref="CONSOLE"/>
    </Root>
  </Loggers>
</Configuration>